@import 'init';
@import 'layout';

.show {
	display: block;
	padding: .5em .75em;
	color: $body-color;
	text-decoration: none;

	&:hover {
		background: $gray-lighter;
		color: $body-color;
		text-decoration: none;
	}

	.downloads {float: right;}
	.show-title {
		font-weight: 700;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.source {
		width: 100%;
		white-space: nowrap;
	  	overflow: hidden;
  		text-overflow: ellipsis;
  		color: $gray;
  		font-size: .95em;
	}
}